node_modules
.pnpm-store
.turbo
.expo
.next
dist
coverage
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
tmp
*.DS_Store
.dart_tool
.packages
apps/flutter/build
apps/flutter/.flutter-plugins
apps/flutter/.flutter-plugins-dependencies
apps/flutter/.pub-cache
deploy-credential.json
